.git
.yarn/cache
.yarn/install-state.gz
node_modules
# Remover esta linha para permitir que o código-fonte seja copiado
# packages/*/src
packages/*/node_modules
# Remover esta linha para permitir copiar plugins internos, caso tenha
# plugins
*.local.yaml
